# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\LowenHerz\Documents\Universidad\Semestre7\SistemasDistribuidos\Sesion2\ServerTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
